@import "variables/index";
@import "reset";
@import "utils";
@import "animation";

body {
  font-family: $font-family-default;
  font-size: $font-size-default;
  line-height: $line-height-default;
  font-weight: $font-weight-normal;
  color: $color-white;
  &.fixed {
    position: fixed;
    overflow-y: scroll;
    left: 0;
    top: 0;
    width: 100%;
  }
}
