// $button-types: name color color-hover color-active background background-hover background-active
$button-types: primary $color-white $color-orange $color-orange $color-orange
    $color-white $color-white,
  secondary $color-white $color-white $color-white $color-navy-blue
    $color-orange $color-orange,
  rounded $color-white $color-white $color-white $color-orange $color-brown
    $color-navy-blue;

.button-component {
  color: $color-white;
  background: $color-orange;

  @each $type in $button-types {
    $name: nth($type, 1);
    $color: nth($type, 2);
    $color-hover: nth($type, 3);
    $color-active: nth($type, 4);
    $background: nth($type, 5);
    $background-hover: nth($type, 6);
    $background-active: nth($type, 7);

    &.button-type-#{$name} {
      color: $color;
      background: $background;
      border: 1px solid transparent;
      @if $name == primary {
        &:hover {
          border: 1px solid $background;
        }
        &:active {
          border: 1px solid $background;
        }
      }
      &:hover {
        color: $color-hover;
        background: $background-hover;
      }
      &:active {
        color: $color-active;
        background: $background-active;
      }
    }
  }
}
